.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}
.heading_div{
    float: none;
    background: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    color: teal;
    box-shadow: 5px 5px 5px grey;
}
.copyright_footer {
    position: fixed;
    color: teal;
    bottom: 0;
    width: 100%;
    background-color: tomato;
    line-height: 3;
    text-align: center;
}
.heading_div2{
    font-size: 18px;
}
canvas{
    border: 20px whitesmoke;
    box-shadow: 5px 5px 18px whitesmoke;
    border-radius: 20px;
    margin-top: 200px;
}
.result_para{
    box-shadow: 5px 5px 18px whitesmoke;
    font-size: 20px;
}